body {
   background: #FFF;
   padding: 40px 40px 40px 40px;
   font-family: 'Montserrat', sans-serif;
}

ul,
ol {
   margin-top: 0;
   margin-bottom: 0;
}

/* sidebar */

.side-bar {
   background: #E0EBFE;
   padding-top: 40px;
   padding-bottom: 40px;
   width: 370px;
}

.sidebar-content {
   padding-left: 40px;
   padding-top: 40px;
   padding-right: 40px;
}

.conact-title {
   color: #161D2A;
   font-size: 22px;
   font-weight: 700;
   line-height: normal;
   margin-top: 0;
   margin-bottom: 8px;
}

.cont-type {
   color: #161D2A;
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
   margin-right: 8px;
}

.cont-link {
   color: #2979FF;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}

.cont-item {
   margin-top: 0;
   margin-bottom: 8px;
   height: 24px;
   display: flex;
   align-items: center;
}

.contlistimg {
   color: #000;
   padding-right: 10px;
   width: 19px;
}

.cont-container {
   margin-bottom: 40px;
}

/* skills */

.skills-contaier {
   margin-bottom: 40px;
}

.skills-title {
   margin-top: 0;
   margin-bottom: 8px;
}

.skills-list {
   padding-left: 16px;
}

.skills-list-item {
   color: #161D2A;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}

/* main content */

.main-content {
   padding-left: 80px;
   padding-top: 80px;
   padding-right: 40px;
   padding-bottom: 80px;
   box-sizing: border-box;
}

.wrapper {
   background: #FFF;
   display: flex;
   flex-direction: row-reverse;
   width: 1200px;
   margin: 0 auto;
}

.proffesion {
   color: #000;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
   margin-top: 0;
   margin-bottom: 8px;
}

.sur-name {
   color: #000;
   font-size: 45px;
   font-weight: 700;
   line-height: 55px;
   margin-top: 0;
   margin-bottom: 12px;
}

.user-descr {
   color: #595959;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}

.my-info {
   margin-bottom: 40px;
}

/* prjcts */

.projtitle {
   color: #000;
   font-size: 22px;
   font-weight: 700;
   line-height: 27px;
   margin-top: 0;
   margin-bottom: 8px;
}

.project-item {
   color: #000;
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
}

.proj-list {
   padding-left: 16px;
}

.proj-link {
   color: #005FFF;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   text-decoration-line: underline;
}

.proj-tech-text {
   color: #595959;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}

.proj-cont {
   margin-bottom: 40px;
}

/* education */

.edu-container {
   margin-top: 0;
}

.edu-title {
   color: #000;
   font-size: 22px;
   font-weight: 700;
   line-height: normal;
   margin-top: 0;
   margin-bottom: 12px;
   padding-bottom: 12px;
}

.university-name {
   color: #6D9BF5;
   font-size: 16px;
   font-weight: 700;
   line-height: normal;
   margin-top: 0;
   margin-bottom: 8px;
}

.edu-spec-name {
   color: #000;
   font-size: 14px;
   font-weight: 700;
   line-height: normal;
   margin-top: 0;
   margin-bottom: 8px;
}

.edu-time {
   color: #A8A8A8;
   font-size: 12px;
   font-weight: 400;
   line-height: normal;
   margin-top: 0;
}

.edu-time-devider {
   color: #000;
   font-size: 12px;
   font-weight: 400;
   line-height: normal;
}

.eduschoolsametitle {
   color: #000;
   font-size: 20px;
   font-weight: 700;
   line-height: normal;
   margin-top: 0;
   margin-bottom: 8px;
}

.schoolcontainerlist {
   margin-top: 0;
   padding-bottom: 12px;
}

.educourseralist {
   padding-left: 16px;
}

.educourseralistitem {
   color: #000;
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
}

.educourseralistlink {
   color: #005FFF;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   text-decoration-line: underline;
}